/node_modules
/public/hot
/storage/*.key
/storage/app/private
/storage/framework/
/public/vendor
/public/css
/public/js
/public/storage
/vendor
/public/web.config
/public/mix-manifest.json
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
postreps.rar